<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--Update for Production-->
    <add key="cssHostInquiryApiUri" value="http://xxxxx/customer-service/cs-api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="cssHostInquiryApiAuth" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="Cad53OleDb" value="Provider=MSDAORA.1;User ID=xxxxx;Data Source=xxxxx;Password=xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Cad53OracleConnection" value="Data Source=xxxxx;User Id=xxxxx;Password=xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="Cad65OleDb" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="Cad65OracleConnection" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StormsOleDb" value="Provider=MSDAORA.1;User ID=xxxxx;Data Source=xxxxx;Password=xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StormsOracleConnection" value="Data Source=xxxxx;User Id=xxxxx;Password=xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="InboundJob53Uri" value="http://xxxxx/CgiSspWebSite/InboundJobService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InboundDataItem53Uri" value="http://xxxxx/CgiSspWebSite/InboundDataItemService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InboundAssignment53Uri" value="http://xxxxx/CgiSspWebSite/InboundAssignmentService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InboundPersonnel53Uri" value="http://xxxxx/CgiSspWebSite/InboundPersonnelService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InboundCrew53Uri" value="http://xxxxx/CgiSspWebSite/InboundCrewService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InboundAvailability53Uri" value="http://xxxxx/CgiSspWebSite/InboundAvailabilityService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!--Update for Production-->
    <add key="InboundJob65Uri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="InboundDataItem65Uri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="InboundAssignment65Uri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="InboundCrew65Uri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="InboundAvailability65Uri" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="InboundSysAdminService65" value="http://cadbc-papw12/Cgi.Ssp.Web.Site/InboundSysAdminService.asmx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--<add key="CadServiceLogFileName" value="!CadService.log" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CadServiceLogDirectoryName" value="\\xxxxx\e$\Logs\WCFServices\CADService\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CadServiceLogHttpMessageFileName" value="!CadServiceHttpMessageLog.log" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LoggerDomain" value="WE" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LoggerUser" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LoggerPassword" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MultiServiceLogDirectoryName" value="\\xxxxx\$e\Logs\WCFServices\MultispeakService\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CadServer" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>-->

    <add key="AdsWebApiUri" value="https://xxxxx/Energy-Delivery/ADS/api/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StormsWebApiUri" value="https://xxxxx/Energy-Delivery/STORMS/api/v1/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CoWebApiUri" value="https://xxxxx/Energy-Delivery/Operations/api/v1/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FieldOrderWebApiUri" value="http://xxxxx/Energy-Delivery/FieldOrder/api/v1/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StormsApiAuth" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="FieldOrderApiAuth" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SmtpHost" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SmtpPort" value="xxxxx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="CadAttachmentRepository" value="//xxxxx/CGI/CAD_Data/FTServerRepository/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Update for Production-->
    <add key="CadLocalAttachmentRepository" value="xxxxx:\Program Files (x86)\CGI\CAD_Data\FTServerRepository\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>