<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cssHostInquiryApiUri" value="http://PC85349:8280/customer-service/cs-api" />
    <add key="cssHostInquiryApiAuth" value="eHhjcy1zZXJ2aWNlc19zeXN0ZW06c3lzdGVtcGFzc3dvcmQ=" />

    <add key="Cad53OleDb" value="Provider=MSDAORA.1;User ID=xxxxx;Data Source=xxxxx;Password=xxxxx" />
    <add key="Cad53OracleConnection" value="Data Source=xxxxx;User Id=xxxxx;Password=xxxxx" />
    <add key="Cad65OleDb" value="Provider=MSDAORA.1;User ID=xxxxx;Data Source=xxxxx;Password=xxxxx" />
    <add key="Cad65OracleConnection" value="Data Source=xxxxx;User Id=xxxxx;Password=xxxxx" />
    <add key="StormsOleDb" value="Provider=MSDAORA.1;User ID=xxxxx;Data Source=xxxxx;Password=xxxxx" />
    <add key="StormsOracleConnection" value="Data Source=xxxxx;User Id=xxxxx;Password=xxxxx" />

    <add key="InboundJob53Uri" value="http://xxxxx/CgiSspWebSite/InboundJobService.asmx" />
    <add key="InboundDataItem53Uri" value="http://xxxxx/CgiSspWebSite/InboundDataItemService.asmx" />
    <add key="InboundAssignment53Uri" value="http://xxxxx/CgiSspWebSite/InboundAssignmentService.asmx" />
    <add key="InboundPersonnel53Uri" value="http://xxxxx/CgiSspWebSite/InboundPersonnelService.asmx" />
    <add key="InboundCrew53Uri" value="http://xxxxx/CgiSspWebSite/InboundCrewService.asmx" />
    <add key="InboundAvailability53Uri" value="http://xxxxx/CgiSspWebSite/InboundAvailabilityService.asmx" />

    <add key="InboundJob65Uri" value="http://xxxxx/Cgi.Ssp.Web.Site/InboundJobService.asmx" />
    <add key="InboundDataItem65Uri" value="http://xxxxx/Cgi.Ssp.Web.Site/InboundDataItemService.asmx" />
    <add key="InboundAssignment65Uri" value="http://xxxxx/Cgi.Ssp.Web.Site/InboundAssignmentService.asmx" />
    <add key="InboundCrew65Uri" value="http://xxxxx/Cgi.Ssp.Web.Site/InboundCrewService.asmx" />
    <add key="InboundAvailability65Uri" value="http://xxxxx/Cgi.Ssp.Web.Site/InboundAvailabilityService.asmx" />
    <add key="InboundSysAdminService65" value="http://xxxxx/Cgi.Ssp.Web.Site/InboundSysAdminService.asmx" />
    
    <!--<add key="CadServiceLogFileName" value="!CadService.log" />
    <add key="CadServiceLogDirectoryName" value="\\xxxxxe$\Logs\WCFServices\CADService\" />
    <add key="CadServiceLogHttpMessageFileName" value="!CadServiceHttpMessageLog.log" />
    <add key="LoggerDomain" value="WE" />
    <add key="LoggerUser" value="xxxxx" />
    <add key="LoggerPassword" value="xxxxx" />
    <add key="MultiServiceLogDirectoryName" value="\\xxxxx\$e\Logs\WCFServices\MultispeakService\" />
    <add key="CadServer" value="xxxxx" />-->

    <add key="AdsWebApiUri" value="https://xxxxx/Energy-Delivery/ADS/api/" />
    <add key="StormsWebApiUri" value="https://xxxxx/Energy-Delivery/STORMS/api/v1/" />
    <add key="CoWebApiUri" value="https://xxxxx/Energy-Delivery/Operations/api/v1/" />
    <add key="FieldOrderWebApiUri" value="http://xxxxx/Energy-Delivery/FieldOrder/api/v1/" />
    <add key="StormsApiAuth" value="xxxxx" />
    <add key="FieldOrderApiAuth" value="xxxxx" />
    <add key="SmtpHost" value="xxxxx" />
    <add key="SmtpPort" value="xxxxx" />
    <add key="CadAttachmentRepository" value="//xxxxx/CGI/CAD_Data/FTServerRepository/" />
    <add key="CadLocalAttachmentRepository" value="xxxxx:\Program Files (x86)\CGI\CAD_Data\FTServerRepository\" />
  </appSettings>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="amqmdxcs" publicKeyToken="7a58d55a51981a15" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.3" newVersion="7.5.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
